### Define production

<!-- <IfModule mod_env.c>
    SetEnv CI_ENV production
    SetEnv CI_ENVIRONMENT production
</IfModule> -->

<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.\*)$ index.php?$1 [L]
</IfModule>
